<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>contratoparatv</title>
</head>

<body class="container" style="background-color:rgb(198, 240, 130);">
  <h1>Contrato de TV Pagada </h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Tipo de servicio</th>
        <th scope="col">Meses de contarto</th>
        <th scope="col">total contrato</th>
        <th scope="col">Meses transcurrido</th>
        <th scope="col">total de abono</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">11-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">12-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">13-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">14-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">15-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">16-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">17-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">18-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">19-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">21-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">22-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">23-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">24-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">25-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">26-01-2021</th>
        <td>Completo</td>
        <td>12</td>
        <td>10000</td>
        <td>4</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>
</body>
</html>